@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quattrocento Sans', sans-serif;    
    font-size: 17px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: #555;
}

img{
    width: 100%;
    border-radius: 6px;
    margin: 15px 0;
}

p{
    margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

.menu{
    font-size: 15px;
    background: red;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
} 

.header{
    background: #aa0000;
    color: white;
    padding: 30px 0;
    margin-top: -30px;
    margin-bottom: 30px;
}

.header-title{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.list{
    display: inline-block;
    padding: 15px;
}

.list:hover{
    background: #aa0000;
}

.menu .list a{
    color: white ;
    
}

.menu .list a:hover{
    text-decoration: none;
}

a{
    color: #00aced;
    text-decoration: none;
}

a:hover{
    color: #0c8ebf;
    text-decoration: underline;
}

.card{

    background: #fafafa;
    border: 1px solid #eee;
    padding: 20px;
    margin: 30px;
    border-radius: 6px;
}

.card-blue{
    background: darkblue;
    color: white;
}

.card-orange{
    background: darkorange;
    color: white;
}

.card-title{
    margin-bottom: 15px;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

/* .form-group input[type="text"]{
    height: 40px;
} */

/* implementasi dari code dibawah ini 100% buruk
.form-group input{
    height: 20px;
} */

.form-group .form{
    border-radius: 6px;
    height: 30px;
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    box-sizing: border-box; /* ini supaya konten mengikuti aturan dari parent*/
}

.form-group .form:focus{
    border: 1px solid #0c8ebf;
    
}

.container{
   width: 1200px; 
   margin: auto;
}

.content{
    float: left;
    width: 750px;
}

.content, .sidebar{
    padding: 30px;
}

.sidebar{
    float: right;
    width: 300px;
    border-left: 1px solid red;
}

.navbar-sidebar{
    background: #fafafa;
    margin-bottom: 30px;
}

.navbar-sidebar li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.navbar-sidebar li a{
    color: #ee4d22;
}

.navbar-sidebar li a:hover{
    color: #d84b23;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.button{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px; 
    messy code
    */

    /* code diatas akan sama dengan yg dibawah, dengan value atas&bawah dan kanan&kiri */
    padding: 10px 20px;

    border: none;
    background: #444;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase; /* bisa juga kasih value capitalize untuk huruf besar di awal kata*/
    cursor: pointer; /* ini tidak disarankan, lebih baik diberi style hover. disini hanya sebagai contoh*/
}

.button.primary{
    background: darkorange;
}

.button.primary:hover{
    background: rgb(221, 125, 7);
}

.wraper{
    width: 50%;
    margin: auto;
}

hr{
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

textarea.form{
    padding: 10px;
    height: auto !important; /* !important digunakan untuk menimpa code yang dijalankan duluan dari code dengan hirarki atas*/
    resize: none;
}

.footer{

    clear: both; /* code ini untuk memastikan agar dia selalu tambil dibagian bawah*/
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

